<!-- register.html -->
{% extends 'landing.html' %}

{% block content %}



    <h2>Форма регистрации</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Зарегистрироваться">
    </form>
{% endblock %}
